// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bleu-vague: #A4C5C6;
$rose: #ffb3af;
$violet: #8154EF;
$orange: #FF8500;
$jaune: #fee47c;
$vert: #C2E1BB;
$vert-plus-fonce: #97c68d;

$blanc-semi-transparent: rgba(255, 255, 255, .7)

