.project-view-container {
  h1, h2, h3, h4, p {
    color: rgb(65, 65, 65);
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }

  h2 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.project-view-project {
  width: 100%;
}

p.btn-dashboard {
  font-size: 0.8rem;
  margin-top: 32px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 48px;
}

.volunteers-list {
  display: flex;
  align-items: flex-end;
  padding: 0;
  li {
    display: inline;
  }
}

.participations {
  display: none;
}
