.user-DB {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  h1, h2, h3, h4, p {
    color: rgb(65, 65, 65);
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
}

li.list-inline-item {
  color: rgb(65, 65, 65);
}

.profile-image-wraper {
  background: url(asset_path('weirdo.svg'));
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-position: right;
}

.user-notif {
  text-align: center;
  h4, p {
    color: white;
  }
  background-color: #e48174;
  border-radius: 16px;
  position: absolute;
  top: 60%;
  left: 80%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  p {
    margin: 0;
  }
  padding: 20px 10px;
  box-shadow: 0 0 0 0 rgba(228, 129, 116, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  a {
    color: white;
  }
}

.profile-info {
  text-align: center;
  margin: 40px 0;
}

p#user-desc {
  font-size: 1.2rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(228, 129, 116, 0.7);
    }

    70% {
        box-shadow: 0 0 0 16px rgba(228, 129, 116, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(228, 129, 116, 0);
    }
}
