.yellow-banner h1 {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 0;
}

.nav-dashboard {
  justify-content: center;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 32px;
}

.pdb-ensemble {
  justify-content: center;
}

// onglets

.tab-label {
  margin: 0 16px;
  padding: 16px 32px;
}

.small-weirdo {
  width: 60px;
  height: 45px;
  position: absolute;
  left: 14px;
}

.medium-weirdo {
  width: 120px;
    height: 150px;
    position: absolute;
    left: -2px;
    top: -25px;
}

.relative-weirdo {
  position: relative;
}

.nav-item a {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.nav-item a:hover {
  color: rgb(65, 65, 65);
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 25%, transparent 50%, transparent);
  background-position: 0 100%;
  background-size: 100% 200%;
  transition: all .25s ease-in;
}

.tab-label.active {
  color: rgb(65, 65, 65);
  border-radius: 10px;
  background-color: white;
}

// Team

.pdb-team-member {
  margin: 20px 20px;
  span {
    margin-left: 8px;
    color: rgb(65, 65, 65);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
  }
}

.top-left{
  margin-left: 0;
}

.container-tasks{
}

.test {
  display: flex;
  margin-left: 5px;
  align-items: center;
}

.project-cards {
  display: flex;
  justify-content: center;
}

.project-card-small{
  background-color: white;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border-radius: 11px;
    text-align: center;
}

#myTabContent {
  margin: 0;
}

.drag-drop {
  min-height: 50px;
  min-width: 50px;

}



// .title-task {
//     background-color: white;
//     width: 300px;
//     padding-top: 15px;
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
//     border-radius: 11px;
//     text-align: center;
// }

.card-image-wraper {
  background: url(asset_path('tache_card.svg'));
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.test-card {
  width: 95%;
  background-color: white;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
  border-radius: 11px;
  height: 125%;
  position: relative;
}

.next-event-card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
}

.background-dashboard-card {
  height: 100%;
  width: 100%;
}

.next-event-details {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
  height: 100%;
  width: 100%;
}


// .project-card{
//   width: 95%;
//     background-color: white;
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
//     padding: 20px;
//     border-radius: 25px;
//     text-align: center;
// }

.task-button {
  position: absolute;
    bottom: 0px;
    left: 10px;
    color:#A4C5C6;
}
.project-task-card {
  height: 75px;
  width: 100%;
  position: relative;
  background-color: white;
   text-align: center;
}

.avatar-smaller{
  position: absolute;
  left: 116px;
}

.task-owner{
      margin: 0;
    position: absolute;
    top: 13px;
    left: 192px;
}

.project-task-informations {
      text-align: initial;
      margin-top: 4px;
       display: flex;
           color: grey;
}

.task-button {
  font-color:grey;
  background-color:white;
  border: white;
}

.colored-info{
  display: flex;

}

.project-task-card {
   padding: 16px;
}

.task-status {
 margin-right: 5px;
 width: 60px;

}

.task-title {
      margin-left: 16px;
    font-size: larger;
    color: grey;
}

#dashboard {
  left: 28px;
    top: 13px;
}

.for-dashboard {
 height: 110%;
}

.avatar-dashboard{
      left: 63px;
}

// .project-task-date {
//   display: flex;
//   margin: 0;
//   justify-content: space-between;
//   align-items: self-end;
// }


// .project-task-card {
//   border: #C2E1BB solid;
//   padding-bottom: 8px;
//   border-radius: 8px;
//   transition: all .2s ease-in-out;
// }

// .project-task-card:hover {
//   transform: scale(1.02);
// }
.test-card:hover {
  transform: scale(1.02);
}

// .project-task-informations {
//   background-color: white;
//     padding: 8px;
//     border-radius: 8px;
// }

// .task-status {
//   width: 60px;
//   height: 15px;
//   padding: 2px;
// }

// .task-owner {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   padding: 5px;
// }

// .task-priority {

// }

// .task-description {
//   padding: 20px;
//   margin: 0px;
// }



.croped-image-bord {
  border-radius: 50%;
  width: 250px;
  position: absolute;
  height: 250px;
  object-fit: cover;
  z-index:1;
  position: relative;
}

// .title-task {
//   text-align: center;
// }

.weirdo-orange {
  position: absolute;
  height: 250px;
  left: 15px;
}


.colored-style {
  background-color: #e48174;
  width: 200px;
  height: 20px;
  position: absolute;
}



.wave-bottom {
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.finished {
  padding: 2px;
  height: 20px;
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-top: 8px;
  font-size: 10px;
}

.drag-drop {
  min-height: 50px;
}

.task-description {
  padding: 20px;
  margin: 0px;
}

.task-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.roadmap {
  z-index: 1;
}
