.yellow-banner h1 {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 0;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}


.cool-link, .cool-link:hover {
  color: rgb(130, 130, 130);
}

.top-left{
  margin-left: 0;
}

.container-tasks{
}

.test {
  display: flex;
  margin-left: 5px;
  align-items: center;
}

.project-cards {
  display: flex;
  position: space-between;

}

.project-card-small{
  background-color: white;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border-radius: 11px;
    text-align: center;
}

#myTabContent {
  margin: 0;
}

.drag-drop {
  min-height: 50px;
  min-width: 50px;

}



// .title-task {
//     background-color: white;
//     width: 300px;
//     padding-top: 15px;
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
//     border-radius: 11px;
//     text-align: center;
// }

.test-card {
  width: 95%;
  background-color: white;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border-radius: 11px;
    height: 125%;
    position: relative;
}


// .project-card{
//   width: 95%;
//     background-color: white;
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
//     padding: 20px;
//     border-radius: 25px;
//     text-align: center;
// }

.task-button {
  position: absolute;
    bottom: 0px;
    left: 10px;
    color:#A4C5C6;
}
.project-task-card {
  height: 75px;
  width: 100%;
  position: relative;
  background-color: white;
   text-align: center;
}

.avatar-smaller{
  position: absolute;
  left: 116px;
}

.task-owner{
      margin: 0;
    position: absolute;
    top: 13px;
    left: 192px;
}

.project-task-informations {
      text-align: initial;
      margin-top: 4px;
       display: flex;
           color: grey;
}

.task-button {
  font-color:grey;
  background-color:white;
  border: white;
}

.colored-info{
  display: flex;

}

.project-task-card {
   padding: 16px;
}

.task-status {
 margin-right: 5px;
 width: 60px;

}

.task-title {
      margin-left: 16px;
    font-size: larger;
    color: grey;
}

#dashboard {
  left: 28px;
    top: 13px;
}

.for-dashboard {
 height: 110%;
}

.avatar-dashboard{
      left: 63px;
}

// .project-task-date {
//   display: flex;
//   margin: 0;
//   justify-content: space-between;
//   align-items: self-end;
// }


// .project-task-card {
//   border: #C2E1BB solid;
//   padding-bottom: 8px;
//   border-radius: 8px;
//   transition: all .2s ease-in-out;
// }

// .project-task-card:hover {
//   transform: scale(1.02);
// }
.test-card:hover {
  transform: scale(1.02);
}

// .project-task-informations {
//   background-color: white;
//     padding: 8px;
//     border-radius: 8px;
// }

// .task-status {
//   width: 60px;
//   height: 15px;
//   padding: 2px;
// }

// .task-owner {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   padding: 5px;
// }

// .task-priority {

// }

// .task-description {
//   padding: 20px;
//   margin: 0px;
// }



.croped-image-bord {
  border-radius: 50%;
  width: 250px;
  position: absolute;
  height: 250px;
  object-fit: cover;
  z-index:1;
  position: relative;
}

// .title-task {
//   text-align: center;
// }

.weirdo-orange {
  position: absolute;
  height: 250px;
  left: 15px;
}


.colored-style {
  background-color: #e48174;
  width: 200px;
  height: 20px;
  position: absolute;
}



.wave-bottom {
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.finished {
  padding: 2px;
  height: 20px;
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-top: 8px;
  font-size: 10px;
}






.drag-drop {
  min-height: 50px;
}

.task-description {
  padding: 20px;
  margin: 0px;
}


.roadmap {
  z-index: 1;
}


/// Tabs ///

.tabs {
  clear: both;
  position: relative;
  margin: 0 auto;
  margin-left: 300px;
}

.tab-label.active {
  color: rgb(15, 15, 15);
}


.tab {
  // float: left;
}

// .tab-content {
//   // height: 100vh;
//   margin-left: 100px;
// }



.tab [type=radio] {
  display: none;
}

.tab__content {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
  opacity: 0;
}

[type=radio]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #1d1d1d;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.tab-label {
  font-size: 24px;
  margin: 8px 40px;
}

.nav-dashboard {
  justify-content: center;
}
