<div class="container">
  <h1>Mon profil</h1>
  <p><%= @user.name %></p>
  <p><%= @user.description %></p>
  <p><%= @user.level %></p>
  <%= image_tag @user.remote_image_url %>
</div>

<div class="container">
  <h1>Mon projet en cours</h1>

</div>
