<button type="button" class="btn-black" data-toggle="modal" data-target="#toggleEventModal" id="toggle-event-button">
  Test nouvel évènement
</button>
<button type="button" class="btn-black" data-toggle="modal" data-target="#eventModal" id="new-event-button">
  Créer un nouvel évènement
</button>
<div id="calendar" class="calendar-box"></div>



