
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true" style='z-index: 50000;'>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content modal-content-custom">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title" id="calendarModalLabel">
          <h2 id="event-title"></h2>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

          <h3 id="event-start-date"></h3>
          <p id="event-description"></p>
          <p id="event-participants"></p>

        </div>

      </div>
    </div>
  </div>
</div>
