<p>Ce projet est fini ! Voici le vieux dashboard.</p>


<div class="mx-auto">
  <ul class="nav margin-left" id="myTab" role="tablist">
    <li class="nav-item" style="margin-right: 20px;">
      <a class="nav-link active tab-label cool-link reset-css" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Vue d'ensemble</a>
    </li>
    <li class="nav-item" style="margin-right: 20px;">
      <a class="nav-link tab-label cool-link reset-css" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Calendrier</a>
    </li>
    <li class="nav-item" style="margin-right: 20px;">
      <a class="nav-link tab-label cool-link reset-css" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Roadmap</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active tab-content" id="home" role="tabpanel" aria-labelledby="home-tab">
      lalala
    </div>
    <div class="tab-pane fade tab-content" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      lilili
    </div>
    <div class="tab-pane fade tab-content" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      lululu
    </div>
  </div>
</div>
