<h1>DASHBOARD PROJET</h>
<br>
<p> <%= @project.name %> </p>

<% if @project.status == 'pending'%>
  <%= render 'pending' %>

<% elsif @project.status == 'on going' %>
  <%= render 'on_going' %>
  <div id="calendar" class="calendar-box"></div>
<% else %>
  <%= render 'finished' %>

<% end %>



