<h1>DASHBOARD PROJET</h>
<br>
<p> <%= @project.name %> </p>

<% if @project.status == 'pending'%>
<p> Ce projet n'a pas encore commencé ! </p> <br>
<p> Equipe actuelle: </p>

<% elsif @project.status == 'ongoing' %>
  <%= render 'on_going' %>

<% else %>
  <%= render 'finished' %>

<% end %>



