.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  display: flex;
  margin-bottom: 48px;
  p {
    font-weight: 100;
  }
  h1 {
    font-weight: 400;
  }
}

.project-banner {
  height: 400px;
  h1 {
    font-size: 3.5rem;
  }
}

.dashboard-banner {
  text-align: center;
  height: 220px;
  h1 {
    font-size: 2.5rem;
  }
}
