.banner {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  display: flex;
  margin-bottom: 48px;
  h1, p {
    font-weight: 100;
  }
  h1 {
   font-size: 3.5rem;
  }
}
