.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  display: flex;
  p {
    font-weight: 100;
  }
  h1 {
    font-weight: 400;
  }
}

.project-banner {
  height: 320px;
  margin-bottom: 30px;
  h1 {
    font-size: 3.5rem;
  }
}

.project-status {
  display: inline;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 0.9rem;
}

.project-status-orange {
  background-color: #e48174;
}

.project-status-blue {
  background-color: #A4C5C6;
  color: rgb(65, 65, 65);
}

.project-status-green {
  background-color: #C2E1BB;
  color: rgb(65, 65, 65);
}

.dashboard-banner {
  height: 220px;
  margin-bottom: 47px;
  text-align: center;
  h1 {
    font-size: 2.5rem;
  }
}
