#new-event-button {
  display: none;
}

.btn-black {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  background-color: #062521;
  transition: 0.3s;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
      height: 50px;
  p {
    margin-bottom: 0 !important;
  }
}



.btn-black:hover {
  text-decoration: none;
  color: #062521;
  background-color: $blanc-semi-transparent;
  border-color: #062521;
  border: solid 1px;
}

.btn-basic {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
}

.btn-small{
  height: 25px;
    padding: 7px;
}

.btn-red {
  background-color: #b04632;
  font-color: black;
  transition: 0.3s;
}

.btn-orange {
  background-color: #ff9f1a;
  transition: 0.3s;
}

.btn-yellow {
  background-color: #f5dd29;
  transition: 0.3s;
}

.btn-rose {
  background-color: #e48174;
  border-radius: 8px;
  border: #e48174;
  font-color: white;
  font-color: white;
  color: white;
 }

.btn-calendar {
  background-color: #e48174;
  width: 80px;
  // height: 20px;
  // padding: 2px;
  margin: 0;
  font-size: 14px;
}

.btn-status {
  height: 25px;
  transition: 0.3s;
}

.button-default.turquoise {
  background-color: #fffb46;
  transition: 0.3s;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  a:hover {
    background-color: rgba(255,255,255,0.7);
    border-color: #0198AE;
    color: red;
    text-decoration: none;
    border-radius: 5px;
  }
}

.button-default.turquoise:hover {
  background-color: #e8e9f3;
  border-color: #ede7b1;
  color: #ede7b1;
}

a.blog-slider__button {
    // position: relative;
    position: center;
    display: inline-block;
    height: 40px;
    padding: 3px 23px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #E58074;
    border-color: #E58074;
    background-color: #E58074;
    color: white;
    text-decoration: none;
    margin-top: 20%;
    // background-color:green;
}

a.blog-slider__button:hover {

  color: #E58074;
  border-color: #E58074;
  background-color: $blanc-semi-transparent;

}

.clearFilterButton {
  color: white;
  background-color: #E38076;
  width: 26%;
  border-radius: 50px !important;
  border: 1px solid #E38076;
  height: fit-content;
  padding: 12px 20px;
  border-radius: 50%;
  text-align: center;
}

.clearFilterButton:hover {
  color: #E38076;
  background-color: white;
  border: 1px solid #E38076 !important;
  border-radius: 50px !important;
  border: none;
  height: fit-content;
}

.participation-user-button {
  color: transparent !important;
}

.task-user-button {
  color: transparent !important;
}



