.btn-black {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  background-color: #062521;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  p {
    margin-bottom: 0 !important;
  }
}

.btn-red {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  background-color: #b04632;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  font-color: black;
  p {
    margin-bottom: 0 !important;
  }
}
.btn-orange {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  background-color: #ff9f1a;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  p {
    margin-bottom: 0 !important;
  }
}

.btn-yellow {
  text-transform: none;
  border-radius: 50px;
  text-align: center;
  background-color: #f5dd29;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  p {
    margin-bottom: 0 !important;
  }
}

.btn-status {
  height: 25px;

}

.btn-black:hover {
  text-decoration: none;
  color:white;
}

.button-default.turquoise {
  background-color: #fffb46;
  color: white;
  border-radius: 5px;

  font-weight: bold;
  a:hover {
    background-color: rgba(255,255,255,0.7);
    border-color: #0198AE;
    color: red;
    text-decoration: none;
    border-radius: 5px;
  }
}

.button-default.turquoise:hover {
  background-color: #e8e9f3;
  border-color: #ede7b1;
  color: #ede7b1;
}

a.blog-slider__button {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 3px 23px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #E58074;
    border-color: #E58074;
    background-color: #E58074;
    color: white;
    text-decoration: none;
    margin-top: 5%;
    // background-color:green;
}

a.blog-slider__button:hover {

  color: #E58074;
  border-color: #E58074;
  background-color: white;

}
