// DASHBOARD CARD (UI KIT WAGON)

.card-product {
  overflow: hidden;
  height: 190px;
  display: flex;
  align-items: center;
  margin: 24px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 24px;
}


@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}


.blog-slider {
    width: 30%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all .3s;
    margin-bottom: 15%;
    background-color: #D4EBCF;


  @media screen and (max-width: 992px) {
    max-width: 680px;
        height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

.blog-slider__img {
    height: 180px;
    position: absolute;
    top: -22%;
    width: 300px;
    border-radius: 20px;
    left: 6.15%;
    background-position: center;
    background-size: cover;
}

.blog-slider__content {
    margin-top: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-project-card {
  margin-top: 20%;
}

.blog-slider__code {
  font-weight: bolder;
}




