
// A REMETTRE AU BON ENDROIT
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

// DASHBOARD CARD (UI KIT WAGON)

.card-product {
  overflow: hidden;
  height: 190px;
  display: flex;
  align-items: center;
  margin: 24px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 24px;
}

.blog-slider {
    width: 27%;
    position: relative;
    max-width: 800px;
    margin: 0% 2%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    border-radius: 11px;
    height: 400px;
    transition: all .3s;
    margin-bottom: 4%;
    background-color: #fff;

  @media (min-width: 992px) {
    .row .row-project-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 20px;
      position: relative;
    }
  }

  @media (min-width: 768px) {
    .row .row-project-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 576px) {
  .row .row-project-card {
    display: grid;
    grid-template-columns: 1fr;
  }
}


  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 80px 1%;
  }
}

.blog-slider__wrp {
  height: 100%;
}

.blog-slider__img {
  height: 40%;
  // position: absolute;
  // top: -11%;
  // width: 87%;
  border-radius: 11px 11px 0 0;
  left: 6.15%;
  background-position: center;
  background-size: cover;
  // bottom: 11%;
  overflow: hidden;
}

.blog-slider__content {
  // margin-top: 29%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // height: 100%;
  // background-color: yellow;
  text-align: center;
  padding: 0% 3%;
  height: 60%;
}
  // .row-project-card {
  //   margin-top: 20%;
  // }

.blog-slider__code {
  // background-color: grey;
  font-weight: bolder;
  width: 100%;
  height: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  align-items: center;


  h5 {
    font-size: 17px;
    margin: 0;
    text-align: center;
    color: #062520;
    font-weight: lighter;
    font-size: 17px;
    color: #062520; // ici //
    margin-bottom: 10%;
    // margin-top: 10%;
  }
}

// .blog-slider__code {
//     font-weight: bolder;
//     width: 100%;
//     height: 40%;
//     display: flex;
//     align-content: center;
//     justify-content: center;
//     margin-top: 10%;
//     display: flex;
//     align-items: center;
// }

.blog-slider__title {
  // background-color: red;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bolder;
  color: #E58074;
  text-align: center;
}

.blog-slider__text {
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 13px;
  color: #646464;
  // margin-top: 10%;
}

.status {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  position: relative;
  bottom: -85%;
  left: 3%;
}

.blog-slider p {
  opacity: 1;
  width: 100%;
  border-radius: 0%;
  height: 14%;
  color: white;
  position: absolute;
  left: 3%;
  text-align: center;
  top: 85%;
  background-color: #CF796B;
  font-size: 15px;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}


.blog-slider:hover {
  transform: scale(1.02);
}


.development {
  display: flex;
  position: relative;
  justify-content: center;
}

.icone {
  background-color: #CF796B;
  width: 3%;
  height: 35px;
  border-radius: 50%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-top: 3px;
  position: absolute;
  top: -20px;
  i{
    font-size: 14px;
    color:white;
  }
}

.blog-slider {
  flex-grow: 1;
}

.map-wrapper {
  display: none;
}

.map-wrapper.map-display {
  display: block;
  width: 40%;
  right: 1%;
  height: 100vh;
  position: sticky;
  top: 0%;
  margin-right: -50px;
  margin-left: 37px;
}

.cards-wrapper {
width: 100%;
}

.cards-wrapper.map-display {
  width: 60%;
}

.row .row-project-card {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
  position: relative;
  margin: 20px;
}

// .cards-wrapper .blog-slider {
//   margin-top: 7%;
// }

// .map-display > .blog-slider {
//   margin-top: 11% !important;
// }

.blog-slider a {
  text-decoration: none;
}

.yellow-shape.yellow-shape-2 {
  position: absolute;
  height: 75%;
  left: 78%;
  top: -22%;
  width: 39%;
  z-index: 0;
  transform: rotate(130deg);
}
