.footer {
  background: #072521;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #fff;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #A5C5C6;
  // opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: white;
}

.footer-copyright {
  color: #A5C5C6;
}
