.navbar {
  z-index: 2;
}

.dropdown-menu a {
  color: #212529;
}

a.navbar-signin, a.navbar-signin:hover {
  color: #212529;
  text-decoration: none;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 24px;
  position: fixed;
  width: 100%;
  // z-index: 1;
  top: 0;
  background-color: transparent;
  transition: 0.5s background-color ease;
  text-decoration: none;
}

.navbar-lewagon-white {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse {
  position: relative;
}

#navbar-notif-badge {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -5px;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  text-align: center;
  background: #e48174;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 10px;
  border: 0.5px solid white;
}

#btn-navbar {
  margin-right: 20px;
}

#badge-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-flexbox {
  display: flex;
}

.dropdown-menu > span {
  font-weight: bold;
  color: rgb(60, 60, 60);
}

// force bootstrap

.nav-link {
  padding: 16px 0;
}

.dropdown-item {
  padding: 0 !important;
}

.dropdown-menu {
  width: 110%;
  padding: 16px;
  border-radius: 11px 0 11px 11px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  margin-top: 20px;
  margin-right: 20px;
  border: 0;
  span, a, p {
    font-size: 0.85rem;
  }
}

.show > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.dropup > .dropdown-menu:after {
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
