.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: transparent;
  transition: 0.5s background-color ease;
  text-decoration: none;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  display:flex
}

a:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 1px;
}
