.signin-form {
  width: 60%;
}

.signin-intro {
  width: 20%;
  font-size: 0.9rem;
  color: white;
  background-color: #e48174;
  border-radius: 12px;
  position: absolute;
  top: 40%;
  right: 35%;
  padding: 16px;
}

h1#signin-title {
  padding-left: 20px;
}
