.line__progress {
  fill: none;
  stroke: #AAFF00;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
}

.line__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}
