.ressources-container {
  display: flex;
  justify-content: space-between;
  div, span, p, h1, h2, h3, h4 {
    color: rgb(65, 65, 65);
    font-family: 'Open Sans', sans-serif;
  }
  div, span, p {
    font-size: 0.85rem;
  }
}

.ressources-block {
  margin: 8px;
  padding: 8px;
  width: 45%;
}

.ressource {
  display: flex;
  align-items: center;
}

.ressource-info {
  margin-left: 16px;
}
