.container-search-bar {
  // display: flex;
  // justify-content: space-between !important;
  // width: 60% !important;
  // align-items: end;
  display: flex;
  align-items: center;
  width: 100% !important;
}


.container-search-bar .form-group, .container-search-bar .clearFilterButton {

    margin-right: 20px;
    margin-bottom: 0;

}

.container-search-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button-chat {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-button-chat {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.enter-message-chat {
  flex-grow: 1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}


.select2-selection__rendered {
  height: 37px !important;
  display: flex !important;
  align-items: center !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: flex;
    height: 37px !important;
}
