.project-view-charity {
  display: inline-block;
  float: right;
  width: 27%;
  background-color: white;
  margin-top: -150px;
  margin-left: 40px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
  border-radius: 11px;
  text-align: center;
  h4 {
    font-weight: 100;
    color: rgb(100, 100, 100);
  }
  p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 0.8rem;
  }
}

.charity-logo-container {
  max-width: 50%;
  margin: 0 auto 24px auto;
}

.charity-logo-image {
  width: 100%;
}

.charity-referent p {
  margin-top: 24px;
}
